<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:include="fragments/header"></th:block>


<!--<script type="text/javascript"-->
        <!--src="webjars/jquery/3.2.1/jquery.min.js"></script>-->

<!--<script type="text/javascript" src="js/main.js"></script>-->

<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Dashboard</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li class="active">Dasboard</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">


            <div class="col-md-2"></div>
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-header"><strong>Course</strong>
                        <small> List</small>
                    </div>
                    <div class="card-body card-block">


                        <form autocomplete="off" class="sky-form" th:object="${examDTO}" method="post"
                              th:action="@{/api/pdf/questions}" role="form">


                            <!--<div class="form-group">-->
                                <!--<label>Select Course</label>-->
                                <!--<select class="form-control" id="courseName">-->
                                    <!--<option value="">&#45;&#45;&#45;&#45;Select&#45;&#45;&#45;&#45;</option>-->
                                    <!--<option th:each="course : ${courses}"-->
                                            <!--th:value="${{course.name}}"-->
                                            <!--th:text="${course.name}">-->
                                    <!--</option>-->
                                <!--</select>-->
                            <!--</div>-->

                            <div class="form-group">
                                <label>Select Faculty</label>
                                <select class="form-control" th:field="*{courseName}">
                                    <option value="">----Select----</option>
                                    <option th:each="course : ${courses}"
                                            th:value="${{course.name}}"
                                            th:text="${course.name}">
                                    </option>
                                </select>
                            </div>
                            
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary btn-sm">
                                    <i class="fa fa-dot-circle-o" ></i> Generate
                                </button>
                                <button type="reset" class="btn btn-danger btn-sm">
                                    <i class="fa fa-ban"></i> Reset
                                </button>
                            </div>

                        </form>

                    </div>
                </div>


            </div>
            <div class="col-md-2"></div>
        </div>

    </div>
</div>

</div>
</div>

<script src="/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    // function generate(id) {
    //
    //     var courseName = document.getElementById('courseName').value;
    //
    //     $.ajax({
    //         cache: false,
    //         type: "GET",
    //         url: "/api/pdf/questions",
    //         data: {
    //             'courseName': courseName
    //         }
    //     });
    //
    // }

</script>
<div th:include="fragments/footer"></div>
